@import '../../lib/clear.styl'
@import '../../lib/bem.styl'
@import '../../lib/mq.styl'
@import '../../lib/normalize.styl'


*
  -webkit-tap-highlight-color transparent
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased
  &:focus
    outline none

html, body
  position relative
  display block
  margin 0
  padding 0
  font-family 'Roboto', sans-serif
  width 100%
  height auto
  min-width 320px
  font-size 0
  min-height 100%
  &.popup
    overflow hidden

header
  position fixed
  top 0
  left 0
  width 100%
  height auto
  padding 11px 0
  background-color #3e404d
  display block
  z-index 10
  transition height 0.3s ease, padding 0.3s ease
  will-change height, padding
  +mq(0, 719px)
    height 50px
    box-sizing border-box

  &.active
    +mq(0, 719px)
        height 240px
        padding 11px 0 17px 0

footer
  position relative
  width 100%
  padding 60px 0 45px 0
  background-color #ffffff
  display block
  +mq(0, 719px)
    padding 30px 0 45px 0

input, textarea
  &::-webkit-input-placeholder
    color #8f8f8f
  &:-moz-placeholder
    color #8f8f8f
  &::-moz-placeholder
    color #8f8f8f
  &:-ms-input-placeholder
    color #8f8f8f
  &:-webkit-autofill
    -webkit-box-shadow 0 0 0px 1000px white inset
    -webkit-text-fill-color #8f8f8f !important
  &:focus
    &::-webkit-input-placeholder
      transition color 0.3s ease
      color transparent !important
    &:-moz-placeholder
      transition color 0.3s ease
      color transparent !important
    &::-moz-placeholder
      transition color 0.3s ease
      color transparent !important
    &:-ms-input-placeholder
      transition color 0.3s ease
      color transparent !important

.container
  position relative
  display block
  width 100%
  height 100%
  background-color #ffffff

.wrapper
  position relative
  display block
  width 100%
  max-width 1180px
  height 100%
  margin 0 auto
  +modifier(flex-b-c)
    display flex
    justify-content space-between
    align-items center
    +mq(0, 719px)
      align-items flex-start

  +mq(0, 1220px)
    padding 0 20px
    box-sizing border-box
    overflow hidden

  +mq(0, 719px)
    padding 0 10px
    box-sizing border-box
    overflow hidden


.burger
  position relative
  display block
  width 32px
  height 21px
  cursor pointer
  top 5px
  span
    position relative
    display block
    height 3px
    width 100%
    background-color #DBDBDB
    transition transform 0.3s ease
    will-change transform
    &:nth-child(1)
      margin-bottom 4px
    &:nth-child(2)
      margin-bottom 4px

  &.active
    margin-top 12px
    span
      &:nth-child(1)
        transform rotate(45deg)
        margin-bottom -10px
      &:nth-child(2)
        opacity 0
      &:nth-child(3)
        transform rotate(-45deg)


.section
  position relative
  display block
  width 100%
  height auto
  background-color #ffffff
  +modifier(top)
    height 550px
    padding-top 50px
    +mq(0, 719px)
      height auto
      padding 50px 0 30px 0
  +modifier(vid)
    height 630px
    background-color #f4f8fd
    +mq(0, 1220px)
      height auto
      padding-bottom 30px
  +modifier(all-types)
    height 475px
    +mq(0, 1220px)
      height auto
      padding-bottom 30px
  +modifier(flags)
    padding 0 0 70px 0
    background-color #f4f8fd
    +mq(0, 1220px)
      padding 0 0 30px 0
  +modifier(new-level)
    padding 0 0 83px 0
  +modifier(work)
    height auto
    padding 0 0 0 0
    background-color #f4f8fd
  +modifier(price)
    padding 0 0 33px 0
  +modifier(open)
    padding 0 0 33px 0
    background-color #f4f8fd
  +modifier(form)
    padding 0 0 60px 0
    background-image url('../images/form-bg-v2.png')
    background-repeat no-repeat
    background-position center
    background-size cover
    &:before
      content ''
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      display none
      background-color #3e404d
      opacity 0.8

  +element(title)
    position relative
    display block
    width 100%
    color #2f2f30
    font-family 'Roboto', sans-serif
    font-size 24px
    font-weight 700
    text-transform uppercase
    text-align center
    padding-top 30px

    +mq(0, 1220px)
      font-size 20px

    +modifier(popup)
      +mq(0, 720px)
        font-size 18px

    +modifier(left)
      padding-top 0
      text-align left
      &:after
        margin 10px 0 !important

      +mq(0, 719px)
        text-align center
        &:after
          margin 10px auto !important


    &:after
      content ""
      position relative
      width 107px
      height 3px
      background-color #3a65bb
      display block
      margin 10px auto

    +modifier(c-white)
      color #ffffff
      padding-bottom 30px
      &:after
        display none

  +element(text)
    position relative
    display block
    width 100%
    color #2f2f30
    font-family 'Roboto', sans-serif
    font-size 20px
    font-weight 300
    text-align center
    +modifier(inner)
      padding 18px 0
      text-align left
      +mq(0, 719px)
        text-align center
        padding 18px 50px 0 50px
    +modifier(inner-center)
      padding 45px 0 15px 0
    +modifier(p35)
      padding 35px 0 0 0

    +modifier(left)
      text-align left
      font-family 'Roboto', sans-serif
      font-size 16px
      font-weight 300
      +mq(0, 719px)
        text-align center

    +modifier(popup)
      text-align left
      & p
        padding-top 18px
        color #2f2f30
        font-family 'Roboto', sans-serif
        margin 0
        text-align left
      +mq(0, 720px)
        font-size 14px

    +modifier(bigo)
      +mq(0, 719px)
        box-sizing border-box
        padding 0 10px

    +mq(0, 1220px)
      font-size 18px



.header
  +element(logo)
    position relative
    color #ffffff
    font-family 'Roboto', sans-serif
    font-size 18px
    font-weight 700
    text-transform uppercase
    text-decoration none
    display block
    cursor pointer
    +mq(0, 719px)
      line-height 30px

  +element(burger)
    display none
    +mq(0, 719px)
      display block

  +element(menu)
    position relative
    display flex
    justify-content space-between
    align-items center
    transition opacity 0.3s ease, z-index 0.3s ease
    will-change opacity, z-index
    +mq(0, 719px)
      opacity 0
      z-index -1
      pointer-events none
      position absolute
      bottom 0
      .active &
        display block
        opacity 1
        z-index 1
        pointer-events all

  +element(menu-item)
    position relative
    display block
    color #ffffff
    font-family 'Roboto', sans-serif
    font-size 14px
    font-weight 300
    line-height 29px
    text-decoration none
    cursor pointer

    +mq(0, 1220px)
      font-size 13px

    +mq(0, 719px)
      line-height 34px
      font-size 14px

    & + &
      margin-left 25px
      +mq(0, 719px)
        margin-left 0

.top-b
  position relative
  display flex
  justify-content flex-start
  align-items flex-start
  flex-wrap wrap
  width 100%
  height auto
  padding 55px 0 0 0

  +mq(0, 719px)
    padding 17px 0 0 0

  &:after
    content ""
    position absolute
    top 0
    right 0
    display block
    width 707px
    height 550px
    background-image url('../images/bg.png')
    background-repeat no-repeat
    background-position center

    +mq(0, 1220px)
      left 340px

    +mq(0, 719px)
      display none


  +element(title)
    position relative
    display block
    width 595px
    padding 0 0 18px 0
    border-bottom 2px solid #3e404d

    +mq(0, 1220px)
      width 445px

    +mq(0, 719px)
      width 100%
      box-sizing border-box
      padding 0 30px 0 18px 30px

  +element(phones)
    position relative
    width 100%
    display flex
    justify-content center
    align-items center
    padding-left 88px
    background-image url('../images/phone-ico2.png')
    background-repeat no-repeat
    background-position left center
    flex-wrap wrap
    margin-bottom  24px

    +mq(0, 719px)
      margin 15px auto 24px auto
      width 195px

    &:before
      content ""
      position absolute
      top 0
      left 0
      display block


.title-text
  position relative
  display block
  width 100%
  font-family 'Roboto', sans-serif
  text-transform uppercase
  color #191511
  font-size 36px
  font-weight 700
  +modifier(big)
    color #191511
    font-size 50px
    font-weight 700
    line-height 49px
  +modifier(c-blue)
    color #3a65bb
    font-size 43px
    font-weight 700
    line-height 47px
  +modifier(light)
    color #191511
    font-size 36px
    font-weight 300

  +mq(720px, 1220px)
    font-size 32px
    +modifier(big)
      font-size 39px
      line-height 43px
    +modifier(c-blue)
      font-size 33px
      line-height 42px
    +modifier(light)
      font-size 28px

  +mq(0, 719px)
    font-size 26px
    text-align center
    +modifier(big)
      font-size 26px
      line-height 32px
    +modifier(c-blue)
      font-size 21px
      line-height 32px
    +modifier(light)
      font-size 21px

.phone-item
  position relative
  display block
  width 100%
  color #2f2f30
  font-family 'Roboto', sans-serif
  font-size 20px
  line-height 29px
  font-weight 300
  & strong
    font-weight 700

.button
  position relative
  display flex
  justify-content center
  align-content center
  background-color #3a65bb
  border-radius 5px
  text-decoration none
  cursor pointer
  width 317px
  height 60px
  border none
  box-shadow none

  +mq(0, 1220px)
    border-radius 10px

  +mq(0, 719px)
    width 100%

  +modifier(big)
    width 461px
    height 77px
    flex-wrap wrap
    & span
      line-height 25px
      width 100%
      text-align center

    +mq(0, 1220px)
      width 405px
      height 71px

    +mq(0, 719px)
      margin 0 auto


  +modifier(center)
    margin 0 auto
  +modifier(center-mid)
    width 380px
    margin 90px auto 0 auto
    +mq(0, 719px)
      width 100%
      margin 50px auto 0 auto
  +modifier(center-mid-v2)
    width 380px
    margin 60px auto 0 auto
    +mq(0, 719px)
      width 100%
      margin 50px auto 0 auto
  +modifier(form)
    width 380px
    margin 25px auto 0 auto
    +mq(0, 719px)
      height 77px
      flex-wrap wrap
      margin 0 auto
      width 100%
      margin-top 15px
      & span
        line-height 25px

.button-text
  position relative
  display block
  font-family 'Roboto', sans-serif
  color #e7e6e2
  font-size 16px
  font-weight 300
  line-height 60px
  +modifier(bold)
    font-size 18px
    font-weight 700
    color #ffffff
    text-transform uppercase
  +modifier(upper)
    text-transform uppercase

  +mq(0, 1220px)
    font-size 16px
    line-height 60px
    +modifier(bold)
      font-size 16px
    +modifier(upper)
      font-size 16px

  +mq(0, 719px)
    font-size 14px
    line-height 60px
    +modifier(bold)
      font-size 14px
    +modifier(upper)
      font-size 14px

.vid-b
  position relative

  +element(list)
    position relative
    display flex
    justify-content space-between
    align-items center
    flex-wrap wrap
    +modifier(center)
      justify-content center

  +element(list-item)
    position relative
    display flex
    justify-content center
    align-content center
    flex-wrap wrap
    width 33%
    padding-top 45px

    +mq(0, 1220px)
      width 50%
      padding-top 70px

      .open-o &
        width 33%
        padding-top 55px

    +mq(0, 719px)
      width 100%
      padding-top 50px

      .open-o &
        width 100%
        padding-top 35px

    +modifier(lilbit)
      width 10%
      +mq(0, 1220px)
        width 15% !important

    &.for-four
      width 25%
      +mq(0, 1220px)
        width 50%
      +mq(0, 719px)
        width 100%

    &.for-four-v2
      width 25%
      +mq(0, 1220px)
        width 50%
      +mq(0, 719px)
        width 100%
        padding-top 40px


.vid-icon
  position relative

.all-types-icon
  position relative
  display block
  width 184px
  height 184px
  opacity 0.9
  background-size cover
  background-repeat no-repeat
  background-position center
  &.khalifa-img
    background-image url('../images/khalifa-img.png')
    border 3px solid #dfe8f3
    box-sizing border-box

  &.visa-img
    background-image url('../images/visa-img.png')
    border 3px solid #dfe8f3
    box-sizing border-box

  &.servide-img
    background-image url('../images/service-img.png')
    border 3px solid #dfe8f3
    box-sizing border-box

  &.box-img
    background-image url('../images/box-img.png')
    border 3px solid #dfe8f3
    box-sizing border-box

  &.circle-k
    opacity 1
    width 54px
    height 54px
    background-color #d8d9db
    color #ffffff
    font-family 'Roboto', sans-serif
    font-size 30px
    font-weight 700
    line-height 54px
    text-align center
    border-radius 50%

  &.passport-ico
    opacity 1
    background-size contain
    width 93px
    height 93px
    background-image url('../images/passport-ico.png')

  &.plus-ico
    opacity 1
    background-size contain
    width 47px
    height 47px
    background-image url('../images/plus-ico.png')

  &.check-ico
    opacity 1
    background-size contain
    width 110px
    height 96px
    background-image url('../images/check-ico.png')

.vid-text
  position relative
  display block
  width 100%
  color #2f2f30
  font-family 'Roboto', sans-serif
  font-size 16px
  font-weight 400
  padding-top 10px
  text-align center
  +modifier(plus)
    padding 40px 0 0 0

  .for-four &
    padding 10px 50px 0 50px

    &
      +modifier(plus20)
        padding 20px 50px 0 50px

  .for-four-v2 &
    padding 10px 35px 0 35px

.all-types
  position relative

.flags
  position relative

  +element(list)
    position relative
    display flex
    justify-content space-between
    align-items center
    flex-wrap wrap
    +mq(0, 719px)
      justify-content center

  +element(list-item)
    position relative
    display block
    flex-wrap wrap
    margin-top 39px
    width 380px
    height 450px
    box-shadow 0 1px 1px rgba(25, 12, 2, 0.15)
    background-color #ffffff

    +mq(0, 1220px)
      width 330px

    +mq(0, 719px)
      height auto

.flag-item
  +element(header)
    height 70px
    width 100%
    background-color rgba(62, 64, 77, 0.21)
    box-sizing border-box
    padding 14px 13px
    position relative
    display flex
    justify-content flex-start
    align-items center

  +element(body)
    position relative
    box-sizing border-box
    padding 25px 24px

  +element(top-text)
    position relative
    display flex
    justify-content space-between
    align-content center
    width 100%

    & + &
      padding-top 15px

  +element(list)
    position relative
    display block
    list-style none
    margin 21px 0 0 0
    padding 23px 0 0 0
    border-top 1px solid #d8d9db

    & li
      position relative
      display block
      color #2f2f30
      font-family 'Roboto', sans-serif
      font-size 14px
      font-weight 300
      padding 0 0 0 31px

      &:before
        content ""
        position absolute
        background-color #d8d9db
        border-radius 50%
        width 9px
        height 9px
        top 4px
        left 4px

    & li + li
        margin-top 17px


.flag-top-text
  position relative
  display block
  color #2f2f30
  font-family 'Roboto', sans-serif
  font-size 14px
  font-weight 300
  +modifier(strong)
    color #2f2f30
    font-size 16px
    font-weight 700
    line-height 16px
    text-transform uppercase
    padding-left 5px

    +mq(0, 1220px)
      white-space nowrap

    & span
      font-size 9px
      font-weight 400
      text-transform none
      +mq(0, 1220px)
        display none

.flag-title
  position relative
  display block
  color #2f2f30
  font-family 'Roboto', sans-serif
  font-size 24px
  font-weight 700
  margin-left 19px

.new-level
  position relative

  &.mobile
    display none

  +mq(0, 719px)
    display none

    &.mobile
      display block

  +element(container)
    position relative
    display flex
    justify-content center
    align-content flex-start
    width 100%
    z-index 5
    +mq(0, 719px)
      justify-content flex-start
      flex-wrap wrap
      &.not-mobile
        display none
    +modifier(p35)
      padding-top 35px
    +modifier(p60)
      padding-top 55px
      +mq(0, 719px)
        padding-top 40px
    +modifier(p10)
      padding-top 10px


  +element(bl0ck)
    position relative
    display block
    width 385px
    height auto
    text-align right

    +mq(0, 1220px)
      width 260px

      .price &
        width 280px

    +mq(0, 719px)
      width 100%
      text-align left

      .price &
        width 100%

    +modifier(title)
      +mq(0, 1220px)
        width 320px

    +modifier(title-right)
      +mq(0, 1220px)
        margin-left 50px !important

    +modifier(big)
      width 100%
      max-width 1026px
      margin 15px 0 0 0

    & + &
      margin-left 212px
      text-align left

      +mq(0, 1220px)
        .price &
          margin-left 100px

      +mq(0, 719px)
        margin-top 40px
        margin-left 0
        .price &
          margin-left 0


.new-level-title
  position relative
  display block
  height 34px
  color #2f2f30
  font-family 'Roboto', sans-serif
  font-size 20px
  font-weight 500
  width 100%
  background-color #d8d9db
  line-height 34px
  box-sizing border-box
  padding 0 15px
  &.mobile
    display none
  +mq(0, 1220px)
    font-size 18px
  +mq(0, 719px)
    text-align center
    height auto
    &.mobile
      display block
  +modifier(centr)
    text-align center

.new-level-ok-text
  position relative
  color #2f2f30
  font-family 'Roboto', sans-serif
  font-size 16px
  font-weight 300
  +mq(0, 1220px)
    box-sizing border-box
    padding 25px 0 0 50px
  +modifier(right)
    +mq(0, 719px)
      padding 25px 0 0 60px
    &:before
      content ""
      position absolute
      display block
      top 0
      left -128px
      width 111px
      height 42px
      background-image url('../images/ok-line.png')
      +mq(0, 719px)
        width 42px
        right auto
        left 0
        top 26px
        background-image url('../images/ok-ico.png')
  +modifier(left)
    &:before
      content ""
      position absolute
      display block
      top 0
      right -114px
      width 88px
      height 18px
      background-image url('../images/ball-line.png')
      +mq(0, 719px)
        right auto
        left 10px
        top 26px
        width 18px
        background-image url('../images/circle.png')
  +modifier(right-ok)
    padding-left 66px
    text-align left

    +mq(0, 719px)
      padding-left 58px

    & + &
      margin-top 45px
      +mq(0, 719px)
        margin-top 0

    &:before
      content ""
      position absolute
      display block
      top 0
      left 2px
      width 42px
      height 42px
      background-image url('../images/ok-ico.png')
      +mq(0, 719px)
        width 42px
        right auto
        left 0
        top 26px
  +modifier(left-ok)
    padding-left 61px
    text-align left

    +mq(0, 719px)
      padding-left 58px

    & + &
      margin-top 45px
      +mq(0, 719px)
        margin-top 0

    &:before
      content ""
      position absolute
      display block
      top 0
      left -4px
      width 42px
      height 42px
      background-image url('../images/ok-blue-ico.png')
      +mq(0, 719px)
        width 42px
        right auto
        left 0
        top 26px

.new-level-palka
  position absolute
  width 2px
  height 450px
  border-left 2px dashed #d8d9db
  display block
  z-index 1
  top 240px
  left 0
  right 0
  margin 0 auto

  +mq(0, 1220px)
    top 135px
    height 700px

  +mq(0, 719px)
    display none

  +modifier(triangle)
    height 410px
    top 300px

    +mq(0, 1220px)
      height 525px

    +mq(0, 719px)
      display none

    &:after
      content ""
      position absolute
      left -8px
      bottom -18px
      display block
      width 14px
      height 17px
      background-image url('../images/triangle.png')
      +mq(0, 719px)
        display none

.under-button-text
  position relative
  display block
  text-align center
  width 100%
  color #2f2f30
  font-family 'Roboto', sans-serif
  font-size 14px
  line-height 25px
  text-transform uppercase
  font-weight 300
  padding-top 3px

.work
  display flex
  justify-content space-between
  align-items flex-start
  padding 50px 0
  +mq(0, 719px)
    flex-wrap wrap
    flex-direction column-reverse
    padding 30px 0

  +element(bg)
    width 50%
    box-sizing border-box
    background-repeat no-repeat
    background-position left center
    background-size contain
    background-image url('../images/stat.png')
    height 281px
    +mq(0, 719px)
      width 100%
      height 195px
      background-position center

  +element(text)
    width 50%
    box-sizing border-box
    padding 0 30px 0 0
    text-align center
    +mq(0, 719px)
      width 100%
      padding 0 0 20px 0




.form-box
  position relative
  width 100%
  max-width 764px
  height auto
  border 2px solid rgba(255, 255, 255, 0.81)
  margin 0 auto

  +element(title)
    position relative
    display block
    width 100%
    color #ffffff
    font-family 'Roboto', sans-serif
    font-size 20px
    font-weight 300
    text-align center
    padding 20px
    box-sizing border-box
    line-height 28px

  +element(text)
    padding 15px 0
    position relative
    display block
    text-align center
    width 100%
    color #ffffff
    font-family 'Roboto', sans-serif
    font-size 12px
    font-weight 400
    line-height 15px
    & span
      font-family 'Roboto', sans-serif
      font-size 12px
      color #ffffff
      text-decoration underline
      cursor pointer

    +mq(0, 719px)
      padding 15px 12px
      box-sizing border-box

  +element(form)
    position relative
    width 100%
    height 100%
    display block
    box-sizing border-box
    padding 12px 120px

    +mq(0, 719px)
      padding 12px

    & form
      position relative
      display flex
      justify-content space-between
      align-content flex-start
      width 100%
      flex-wrap wrap

  +element(input-container)
    position relative
    width 100%
    display block
    background-color #ffffff
    height 51px
    box-sizing border-box
    +modifier(x2)
      width calc(50% - 7px)
      +mq(0, 719px)
        width 100%
    +modifier(text)
      height 95px

    &.error
      border 2px solid red

    &.padding-left
      padding-left 75px

    & + &
      margin-top 15px

    & input, & textarea
      position relative
      display block
      width 100%
      height 100%
      border none
      box-shadow none
      border-radius 0
      color #252525
      font-family 'Roboto', sans-serif
      font-size 16px
      font-weight 400
      line-height 25px
      box-sizing border-box
      padding 0 18px

    & textarea
      padding 13px 18px
      resize none

.footer-block
  position relative
  display flex
  width 100%
  margin 0 auto
  padding 15px 39px
  max-width 975px
  background-color #3a3f46
  justify-content space-around
  align-content flex-start
  +mq(0, 1220px)
    box-sizing border-box
  +mq(0, 719px)
    padding 15px
    box-sizing border-box
    flex-wrap wrap

  +element(item)
    position relative
    display block
    width 260px
    color #ffffff
    font-family 'Roboto', sans-serif
    font-size 14px
    font-weight 400
    line-height 15px
    +modifier(none)
      display none
    & a
      color #ffffff
      font-family 'Roboto', sans-serif
      &.icons
        display block
        margin 0 15px 0 0

    & + &
      +mq(0, 719px)
        padding-top 20px

.footer-icons
  position relative
  display flex
  justify-content flex-start
  align-items flex-start
  padding-top 10px

.footer-b-text
  position relative
  display block
  color #ffffff
  font-family 'Roboto', sans-serif
  font-size 15px
  line-height 24px
  font-weight 400
  margin 0
  padding 0
  & span
    color #929292

.footer-phones
  padding-left 42px
  background-image url('../images/phone-ico.png')
  background-repeat no-repeat
  background-position 0 6px
  background-size 16px 16px
  position relative
  color #ffffff
  font-family 'Roboto', sans-serif
  font-size 14px
  font-weight 400
  line-height 24px
  & a
    color #ffffff
    font-family 'Roboto', sans-serif
    text-decoration none
    display block
    width 100%

.footer-emails
  padding-left 42px
  background-image url('../images/email-ico.png')
  background-repeat no-repeat
  background-size 21px 13px
  background-position 0 6px
  margin-top 10px
  position relative
  color #ffffff
  font-family 'Roboto', sans-serif
  font-size 14px
  font-weight 400
  line-height 24px
  text-decoration underline
  & a
    color #ffffff
    font-family 'Roboto', sans-serif
    display block
    width 100%

.footer-c
  position relative
  text-align center
  display block
  width 100%
  color #8b959d
  font-family 'Roboto', sans-serif
  font-size 14px
  font-weight 400
  line-height 15px
  padding 30px 0 0 0

.flag-select
  position absolute
  top 0
  left 0
  display block
  width 70px
  height 100%
  background-repeat no-repeat
  background-position center right
  background-image url('../images/drop-down-ico.png')
  cursor pointer
  & ul
    position relative
    display flex
    justify-content center
    align-items center
    flex-wrap wrap
    width 100%
    height 100%
    padding 0
    margin 0
    background-color transparent
    overflow hidden
    transition height 0.3s ease, background-color 0.3s ease, width 0.3s ease
    will-change height, background-color, width
    &.open
      overflow auto
      height 200px
      width 80px
      background-color #ffffff
      z-index 2
  & li
    position relative
    width 100%
    height 50px
    margin 0
    padding 0
    display flex
    justify-content flex-start
    align-items center
  & img
    position relative
    display block
    width 31px
    height 21px
    object-fit cover
    left 15px

.set-flag-img
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  display flex
  align-items center
  opacity 1
  background-color #ffffff
  background-repeat no-repeat
  background-position center right
  background-image url('../images/drop-down-ico.png')
  z-index 2
  &.hide
    opacity 0
    pointer-events none

.flag-country-tel
  position absolute
  display block
  top 16px
  left 82px
  color #252525
  font-family 'Roboto', sans-serif
  font-size 16px
  font-weight 400
  z-index 2

.hpc
  display none

.popupContainer
  position fixed
  width 100%
  height 100%
  z-index 99
  display none
  transition all 0.5s
  &.show
    display block
    background rgba(36, 36, 36, 0.0)
    transition all 0.5s
    &.dark
      transition-delay 1s
      transition all 0.5s
      background rgba(36, 36, 36, 0.5)

.blocksPopup
  position fixed
  display none
  z-index 100
  width 100%
  height 100%
  max-width 1200px
  left 0
  right 0
  margin 0 auto
  &.show
    display block
  .Block
    overflow hidden
    overflow-y auto
    transition all 0.5s
    max-width 1366px
    margin 0 auto
    position fixed
    width 100%
    height 100%
    top 0
    will-change transform
    left 0
    right 0
    transform-origin 0% 50%
    transform scaleY(0)
    +mq(0, 480px)
      overflow-y hidden
      top 0
      transform scaleY(0)
      padding 15px
      box-sizing border-box
    &.show
      transition all 0.5s
      transform scaleY(0)
      +mq(0, 480px)
        top 0
        transform scaleY(0)
        padding 15px
        box-sizing border-box
      &.open
        transform scaleY(1)
        +mq(0, 480px)
          transform scaleY(1)
          top 0
          padding 15px
          box-sizing border-box
  .closePopup
    position absolute
    cursor pointer
    width 26px
    height 25px
    opacity 1
    will-change opacity, margin, transform
    transition transform 0.4s 0s ease
    margin -70px 40px 0 0
    right 0
    transform rotate(0)
    &:hover
      transition transform 0.4s 0s ease
      transform rotate(90deg)
    &.hide
      opacity 0
      transition all 0.4s ease
      transform rotate(90deg)
      margin -70px -40px 0 0
      +mq(0, 480px)
        width 21px
        height 21px
        margin 0
    +mq(0, 480px)
      width 21px
      height 21px
      margin 0
      top 20px
      right 20px
      position absolute
    svg
      width 100%
      height 100%
      path
        fill #f6f3ef
        +mq(0, 480px)
          fill #cd2430
  .textBlock
    position relative
    background #ffffff
    max-width 1200px
    margin 0 auto
    padding 0
    top 50%
    transform translateY(-50%)
    height 80%
    +mq(0, 480px)
      top 0
      transform translateY(0)
      height 100%
      padding 0
    .CPCblock
      background #ffffff
      padding 70px
      opacity 1
      transition opacity 0.3s 0.5s ease-in
      &.hide
        transition opacity 0.3s 0.5s ease-in
        opacity 0
      +mq(1050px)
        background-size 50%
      +mq(481px, 770px)
        background-size 75%
      +mq(0, 480px)
        position relative
        height auto
        max-height 80%
        top 50%
        transform translateY(-50%)
        overflow-y auto
        padding 0 30px
        background-size 170%

    .title
      text-align center
      padding 0
      opacity 1
      will-change opacity
      &.hide
        opacity 0
      +mq(481px,849px)
        padding 0
        font-size 30px
        line-height 34px
      +mq(0, 480px)
        padding 0
        font-size 22px
        line-height 26px
        [lang="ru"] &
          font-size 20px
    .text
      text-align center
      margin 0
      will-change opacity
      strong
        font-family BanderaProBold
        font-weight 700
      p + p
        margin-top 10px
      &.hide
        opacity 0
      +mq(481px,849px)
        font-size 16px
        line-height 22px
        margin 0
      +mq(0, 480px)
        font-size 12px
        line-height 17px
        margin 0
    .button
      position relative
      width 200px
      height 50px
      box-sizing border-box
      margin 20px auto 0 auto
      transform-origin 50% 0%
      transform scaleX(1)
      will-change transform
      &.tap
        .buttonHolder:before
          transform scaleX(1) !important
      &:active, &:hover
        .buttonHolder:before
          transform scaleX(1)
          +mq(0, 770px)
            transform scaleX(0)
      +mq(0, 480px)
        transform scale(0.85)
        width 170px
      .buttonHolder
        transition transform 0.3s
        width 100%
        height 100%
        background #cd2430
        will-change transform
        transform skew(-45deg) scaleX(0)
        display inline-block
        vertical-align middle
        box-shadow 0 0 1px rgba(0, 0, 0, 0)
        -webkit-backface-visibility hidden
        backface-visibility hidden
        -moz-osx-font-smoothing grayscale
        position relative
        z-index -1
        top 0
        bottom 0
        left 0
        right 0
        transform-origin 50%
        transition-timing-function ease-out
        &.showBG
          transform skew(-45deg) scaleX(1)
          transition-delay 0.5s
        &:before
          content ""
          position absolute
          z-index -1
          top 0
          bottom 0
          left 0
          right 0
          background #3d4574
          transform scaleX(0)
          transform-origin 50%
          transition-property transform
          transition-duration 0.3s
          transition-timing-function ease-out
      button
        opacity 1
        position absolute
        width 100%
        height 100%
        border none
        box-shadow none
        border-radius 0
        z-index 9
        background none
        font-family BanderaProBold
        color #f6f3ef
        font-size 18px
        font-weight 700
        text-align center
        transition opacity 0.3 ease
        [lang="ru"] &
          font-size 16px
          +mq(0, 480px)
            font-size 14px
        +mq(0, 480px)
          font-size 14px
  [data-anim-popup="0"]
    transition opacity 0.4s 0.5s ease, margin 0.4s 0.5s ease, transform 0.4s 0.5s ease
  [data-anim-popup="1"]
    transition all 0.4s
    transition-delay 0.5s
  [data-anim-popup="2"]
    transition all 0.4s
    transition-delay 0.9s
  [data-anim-popup="3"]
    transition all 0.4s
    transition-delay 0.5s