sansLight(x)
  font-family 'Open Sans', sans-serif
  font-size x
  font-weight 300
  font-style normal

sansBold(x)
  font-family 'Open Sans', sans-serif
  font-size x
  font-weight 700
  font-style normal


sansSemiBold(x)
  font-family 'Open Sans', sans-serif
  font-size x
  font-weight 600
  font-style normal

sansExtraBold(x)
  font-family 'Open Sans', sans-serif
  font-size x
  font-weight 800
  font-style normal

sansReg(x)
  font-family 'Open Sans', sans-serif
  font-size x
  font-weight 400
  font-style normal

RobotoConsBold(x)
  font-family 'Roboto Condensed', sans-serif
  font-size x
  font-weight 700
  font-style normal

RobotoConsReg(x)
  font-family 'Roboto Condensed', sans-serif
  font-size x
  font-weight 400
  font-style normal

RobotoConsLight(x)
  font-family 'Roboto Condensed', sans-serif
  font-size x
  font-weight 300
  font-style normal

