<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta name="format-detection" content="telephone=no">
    <link href="https://fonts.googleapis.com/css?family=Italianno|Roboto:100,300,400,500,700&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/fonts.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <title>Transbay</title>
</head>
<body>
<header class="header">
    <div class="wrapper wrapper--flex-b-c">
        <a href="#" class="header__logo">transbay.eu</a>
        <div class="header__menu">
            <a href="#" class="header__menu-item">Юрисдикции</a>
            <a href="#" class="header__menu-item">О нас</a>
            <a href="#" class="header__menu-item">Стоимость и Гарантии</a>
            <a href="#" class="header__menu-item">Документы</a>
            <a href="#" class="header__menu-item">Контакты</a>
        </div>
    </div>
</header>
<div class="container">
    <section class="section section--top">
        <div class="wrapper">
            <div class="top-b">
                <div class="top-b__title">
                    <span class="title-text">Откройте</span>
                    <span class="title-text title-text--big">конфиденциальную</span>
                    <span class="title-text title-text--c-blue">оффшорную компанию</span>
                    <span class="title-text title-text--light">в престижной юрисдикции</span>
                </div>
                <div class="section__text section__text--inner">
                    Оффшорные компании для всех видов бизнеса
                </div>
                <div class="top-b__phones">
                    <span class="phone-item">(+371) <strong>22-45-76-31</strong></span>
                    <span class="phone-item">(+371) <strong>22-32-99-45</strong></span>
                </div>
                <a href="#" class="button button--big">
                    <span class="button-text button-text--bold">
                        сэкономьте на налогах прямо сейчас
                    </span>
                    <span class="button-text">
                        Бесплатная консультация
                    </span>
                </a>
            </div>
        </div>
    </section>

    <section class="section section--vid">
        <div class="wrapper">
            <div class="vid-b">
                <div class="section__title">
                    Снижайте налоговую нагрузку уже в этом месяце:
                </div>
                <div class="section__text">
                    Как это работает
                </div>
                <div class="vid-b__list">
                    <div class="vid-b__list-item">
                        <img class="vid-icon" src="images/docs-ico.png" alt="docs">
                        <div class="vid-text">
                            Подайте всего 2 документа
                        </div>
                    </div>
                    <div class="vid-b__list-item">
                        <img class="vid-icon" src="images/clock-ico.png" alt="clock">
                        <div class="vid-text">
                            Подождите от 1-го дня
                        </div>
                    </div>
                    <div class="vid-b__list-item">
                        <img class="vid-icon" src="images/keys-ico.png" alt="keys">
                        <div class="vid-text">
                            Платите от 1200 EUR за услуги под ключ
                        </div>
                    </div>
                    <div class="vid-b__list-item">
                        <img class="vid-icon" src="images/car-ico.png" alt="car">
                        <div class="vid-text">
                            Бесплатная доставка по России и СНГ
                        </div>
                    </div>
                    <div class="vid-b__list-item">
                        <img class="vid-icon" src="images/bag-ico.png" alt="bag">
                        <div class="vid-text">
                            Есть в наличии готовые компании
                        </div>
                    </div>
                    <div class="vid-b__list-item">
                        <img class="vid-icon" src="images/pin-ico.png" alt="pin">
                        <div class="vid-text">
                            Доступно 14 юрисдикций
                        </div>
                    </div>
                </div>
                <div class="section__text section__text--inner-center">
                    Узнайте, какая юрисдикция подходит вашему бизнесу
                </div>
                <a href="#" class="button button--center">
                    <span class="button-text button-text--bold">
                        бесплатная &nbsp;
                    </span>
                    <span class="button-text button-text--upper">
                        консультация
                    </span>
                </a>
            </div>
        </div>
    </section>
    <section class="section section--all-types">
        <div class="wrapper">
            <div class="all-types">
                <div class="section__title">
                    Заказывайте все виды оффшорных услуг в одном месте
                </div>
                <div class="section__text">
                    Оформление и выдача документов в главном офисе в Риге (Латвия)
                </div>
            </div>
            <div class="vid-b__list">
                <div class="vid-b__list-item for-four">
                    <div class="all-types-icon khalifa-img"></div>
                    <div class="vid-text">
                        Подайте всего 2 документа
                    </div>
                </div>
                <div class="vid-b__list-item for-four">
                    <div class="all-types-icon visa-img"></div>
                    <div class="vid-text">
                        Подождите от 1-го дня
                    </div>
                </div>
                <div class="vid-b__list-item for-four">
                    <div class="all-types-icon servide-img"></div>
                    <div class="vid-text">
                        Платите от 1200 EUR за услуги под ключ
                    </div>
                </div>
                <div class="vid-b__list-item for-four">
                    <div class="all-types-icon box-img"></div>
                    <div class="vid-text">
                        Бесплатная доставка по России и СНГ
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section--flags">
       <div class="wrapper">
           <div class="flags">
               <div class="section__title">
                   Какие юрисдикции подходят вашему бизнесу сегодня:
               </div>
               <div class="flags__list">
                   <div class="flags__list-item">
                       <div class="flag-item__header">
                           <img src="images/ca-flag.png" alt="ca">
                           <span class="flag-title">Канада</span>
                       </div>
                       <div class="flag-item__body">
                            <div class="flag-item__top-text">
                                <div class="flag-top-text">
                                    Минимальный уставной капитал
                                </div>
                                <div class="flag-top-text flag-top-text--strong">
                                    1 CAD
                                </div>
                            </div>
                           <div class="flag-item__top-text">
                               <div class="flag-top-text">
                                   Ставка корпоративного налога
                               </div>
                               <div class="flag-top-text flag-top-text--strong">
                                   0%
                               </div>
                           </div>
                           <ul class="flag-item__list">
                               <li>Не входит в "чёрный список" оффшорных стран</li>
                               <li>Не требуется отчётность</li>
                               <li>Не подлежит оплате уставной капитал</li>
                               <li>Не разрешены акции на предъявителя</li>
                               <li>Налоговый статус - резидент</li>
                               <li>Открытый реестр компаний</li>
                           </ul>
                       </div>
                   </div>

                   <div class="flags__list-item">
                       <div class="flag-item__header">
                           <img src="images/africa-flag.png" alt="africa">
                           <span class="flag-title">ЮАР</span>
                       </div>
                       <div class="flag-item__body">
                           <div class="flag-item__top-text">
                               <div class="flag-top-text">
                                   Минимальный уставной капитал
                               </div>
                               <div class="flag-top-text flag-top-text--strong">
                                   1000 ZAR
                               </div>
                           </div>
                           <div class="flag-item__top-text">
                               <div class="flag-top-text">
                                   Ставка корпоративного налога
                               </div>
                               <div class="flag-top-text flag-top-text--strong">
                                   0-37.8%
                               </div>
                           </div>
                           <ul class="flag-item__list">
                               <li>Не входит в "чёрный список" оффшорных стран</li>
                               <li>Требуется отчётность</li>
                               <li>Должно быть оплачено не менее четверти уставного капитала</li>
                               <li>Доступны, но не рекомендуются акции на предъявителя</li>
                               <li>Налоговый статус - резидент</li>
                               <li>Открытый реестр компаний</li>
                           </ul>
                       </div>
                   </div>

                   <div class="flags__list-item">
                       <div class="flag-item__header">
                           <img src="images/gb-flag.png" alt="gb">
                           <span class="flag-title">Шотландия LP</span>
                       </div>
                       <div class="flag-item__body">
                           <div class="flag-item__top-text">
                               <div class="flag-top-text">
                                   Минимальный уставной капитал
                               </div>
                               <div class="flag-top-text flag-top-text--strong">
                                   1 GBP
                               </div>
                           </div>
                           <div class="flag-item__top-text">
                               <div class="flag-top-text">
                                   Ставка корпоративного налога
                               </div>
                               <div class="flag-top-text flag-top-text--strong">
                                   0%
                               </div>
                           </div>
                           <ul class="flag-item__list">
                               <li>Не требуется отчётность</li>
                               <li>Не подлежит оплате уставной капитал</li>
                               <li>Невозможны акции на предъявителя</li>
                               <li>Налоговый статус - нерезидент</li>
                               <li>Открытый реестр компаний</li>
                           </ul>
                       </div>
                   </div>

                   <div class="flags__list-item">
                       <div class="flag-item__header">
                           <img src="images/gb-flag.png" alt="gb">
                           <span class="flag-title">Англия LP</span>
                       </div>
                       <div class="flag-item__body">
                           <div class="flag-item__top-text">
                               <div class="flag-top-text">
                                   Минимальный уставной капитал
                               </div>
                               <div class="flag-top-text flag-top-text--strong">
                                   1 GBP
                               </div>
                           </div>
                           <div class="flag-item__top-text">
                               <div class="flag-top-text">
                                   Ставка корпоративного налога
                               </div>
                               <div class="flag-top-text flag-top-text--strong">
                                   0%-20%
                               </div>
                           </div>
                           <ul class="flag-item__list">
                               <li>Требуется отчётность</li>
                               <li>Не подлежит оплате уставной капитал</li>
                               <li>Невозможны акции на предъявителя</li>
                               <li>Налоговый статус - нерезидент</li>
                               <li>Открытый реестр компаний</li>
                           </ul>
                       </div>
                   </div>
               </div>
               <div class="section__text section__text--inner-center">
                   Всё ещё не знаете, какая страна подходит вашему бизнесу?
               </div>
               <a href="#" class="button button--center">
                    <span class="button-text button-text--bold">
                        бесплатная &nbsp;
                    </span>
                   <span class="button-text button-text--upper">
                        консультация
                    </span>
               </a>
           </div>
       </div>
    </section>
    <section class="section section--new-level">
        <div class="wrapper">
            <div class="new-level">
                <div class="section__title">
                    ЗTRANSBAY.EU — новый уровень безопасности <br>
                    и развития вашего бизнеса
                </div>
                <div class="new-level-palka"></div>
                <div class="new-level__container new-level__container--p35">
                    <div class="new-level__bl0ck">
                        <span class="new-level-title">
                            Вам подходят наши услуги, если:
                        </span>
                    </div>
                    <div class="new-level__bl0ck">
                        <span class="new-level-title">
                            Что Вы получите:
                        </span>
                    </div>
                </div>
                <div class="new-level__container new-level__container--p60">
                    <div class="new-level__bl0ck"></div>
                    <div class="new-level__bl0ck">
                        <div class="new-level-ok-text new-level-ok-text--right">
                            <strong>Подтверждение документов на территории EC</strong> <br>
                            Абсолютно законная легализация бизнеса в Латвии
                        </div>
                    </div>
                </div>
                <div class="new-level__container new-level__container--p10">
                    <div class="new-level__bl0ck">
                        <div class="new-level-ok-text new-level-ok-text--left">
                            Вы хотите сохранить в тайне информацию о владельцах бизнеса
                        </div>
                    </div>
                    <div class="new-level__bl0ck"></div>
                </div>
                <div class="new-level__container new-level__container--p10">
                    <div class="new-level__bl0ck"></div>
                    <div class="new-level__bl0ck">
                        <div class="new-level-ok-text new-level-ok-text--right">
                            <strong>Комплексное решение</strong> <br>
                            Подбираем вариант по бюджету с максимально выгодными ставками по налогам
                        </div>
                    </div>
                </div>
                <div class="new-level__container new-level__container--p10">
                    <div class="new-level__bl0ck">
                        <div class="new-level-ok-text new-level-ok-text--left">
                            У вас нет возможности снизить налоговую нагрузку в своей стране
                        </div>
                    </div>
                    <div class="new-level__bl0ck"></div>
                </div>
                <div class="new-level__container new-level__container--p10">
                    <div class="new-level__bl0ck"></div>
                    <div class="new-level__bl0ck">
                        <div class="new-level-ok-text new-level-ok-text--right">
                            <strong>Без черных списков</strong> <br>
                            Вы получаете оффшорную компанию в юрисдикции с безупречной репутацией
                        </div>
                    </div>
                </div>
                <div class="new-level__container new-level__container--p10">
                    <div class="new-level__bl0ck">
                        <div class="new-level-ok-text new-level-ok-text--left">
                            Вам нужна регистрация бизнеса в престижной зарубежной юрисдикции
                        </div>
                    </div>
                    <div class="new-level__bl0ck"></div>
                </div>
                <div class="new-level__container new-level__container--p10">
                    <div class="new-level__bl0ck"></div>
                    <div class="new-level__bl0ck">
                        <div class="new-level-ok-text new-level-ok-text--right">
                            <strong>Конфиденциальность</strong> <br>
                            Вся информация о бенефициарах закрыта на 100%
                        </div>
                    </div>
                </div>
                <div class="new-level__container new-level__container--p10">
                    <div class="new-level__bl0ck">
                        <div class="new-level-ok-text new-level-ok-text--left">
                            Вы преследуете несколько или все перечисленные цели одновременно
                        </div>
                    </div>
                    <div class="new-level__bl0ck"></div>
                </div>
                <div class="new-level__container new-level__container--p10">
                    <div class="new-level__bl0ck"></div>
                    <div class="new-level__bl0ck">
                        <div class="new-level-ok-text new-level-ok-text--right">
                            <strong>Банковские услуги</strong> <br>
                            Помогаем вам открыть и обслуживать расчетные и банковские счета
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section--work">
        <div class="wrapper">
            <div class="work">
                <div class="section__text section__text--p35">
                    С нами уже работают:
                </div>
            </div>
        </div>
    </section>
    <section class="section section--price">
        <div class="wrapper">
            <div class="price">
                <div class="section__title">
                    Сколько стоит быстрая регистрация компании <br>
                    в надёжной и престижной юрисдикции
                </div>
                <div class="section__text">
                    В зависимости от выбранной страны и <br>ставящихся задач стоимость услуг составит <br>
                    <strong>от 1200 до 3000 EUR.</strong>
                </div>
                <div class="new-level-palka"></div>
                <div class="new-level__container new-level__container--p35">
                    <div class="new-level__bl0ck">
                        <span class="new-level-title new-level-title--centr">
                            Что входит в стоимость?
                        </span>
                    </div>
                    <div class="new-level__bl0ck">
                        <span class="new-level-title new-level-title--centr">
                            Какие гарантии?
                        </span>
                    </div>
                </div>
                <div class="new-level__container new-level__container--p60">
                    <div class="new-level__bl0ck">
                        <div class="new-level-ok-text new-level-ok-text--left-ok">
                            Бесплатную информационную поддержку по всем вопросам
                        </div>
                    </div>
                    <div class="new-level__bl0ck">
                        <div class="new-level-ok-text new-level-ok-text--right-ok">
                            Расположение главного офиса на территории Латвии гарантирует защиту ваших документов и материальных ценностей от санкций государственных структур вашей страны
                        </div>
                    </div>
                </div>
                <div class="new-level__container new-level__container--p10">
                    <div class="new-level__bl0ck">
                        <div class="new-level-ok-text new-level-ok-text--left-ok">
                            Помощь в выборе юрисдикции с учетом особенностей вашего бизнеса
                        </div>
                    </div>
                    <div class="new-level__bl0ck">
                    </div>
                </div>
                <div class="new-level__container new-level__container--p10">
                    <div class="new-level__bl0ck">
                    </div>
                    <div class="new-level__bl0ck">
                        <div class="new-level-ok-text new-level-ok-text--right-ok">
                            Ваши материальные ценности хранятся в надежном сейфе латвийского банка с безупречной репутацией, который также предоставляет гарантии сохранности имущества
                        </div>
                    </div>
                </div>
                <div class="new-level__container new-level__container--p10">
                    <div class="new-level__bl0ck">
                        <div class="new-level-ok-text new-level-ok-text--left-ok">
                            Оформление всех необходимых документов
                        </div>
                    </div>
                    <div class="new-level__bl0ck">
                    </div>
                </div>
                <div class="new-level__container new-level__container--p10">
                    <div class="new-level__bl0ck">
                        <div class="new-level-ok-text new-level-ok-text--left-ok">
                            Поддержку в основных финансовых и юридических вопросах
                        </div>
                    </div>
                    <div class="new-level__bl0ck">
                    </div>
                </div>
                <div class="new-level__container new-level__container--p10">
                    <div class="new-level__bl0ck">
                    </div>
                    <div class="new-level__bl0ck">
                        <div class="new-level-ok-text new-level-ok-text--right-ok">
                            Руководство TRANSBAY.EU гарантирует, что оказанные услуги по оформлению оффшорной компании будут полностью отвечать задачам вашего бизнеса
                        </div>
                    </div>
                </div>
                <div class="new-level__container new-level__container--p10">
                    <div class="new-level__bl0ck">
                        <div class="new-level-ok-text new-level-ok-text--left-ok">
                            Услуги физического хранения материальных ценностей в сейфе
                        </div>
                    </div>
                    <div class="new-level__bl0ck">
                    </div>
                </div>
                <a href="#" class="button button--center-mid">
                    <span class="button-text button-text--bold">
                        Начните оформление &nbsp;
                    </span>
                    <span class="button-text button-text--upper">
                        прямо сейчас
                    </span>
                </a>
            </div>
        </div>
    </section>
    <section class="section section--open">
        <div class="wrapper">
            <div class="open-o">
                <div class="section__title">
                    Что нужно для открытия оффшорной компании?
                </div>
                <div class="section__text">
                    Вам нужно <strong>всего 2 документа</strong> для оформления
                </div>

                <a href="#" class="button button--center-mid">
                    <span class="button-text button-text--bold">
                        Начните оформление &nbsp;
                    </span>
                    <span class="button-text button-text--upper">
                        прямо сейчас
                    </span>
                </a>
            </div>
        </div>
    </section>
</div>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>